.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Login CSS */
.ReactModal__Content.ReactModal__Content--after-open{
  margin: 100px 600px;
  
}
.ReactModal__Overlay.ReactModal__Overlay--after-open{
  background-color: rgba(0, 0, 0, 0.45) !important;
  border-radius: 8px !important;
}

.popup-head{
  display: flex;
}

.slick-slider{
  text-align: -webkit-center;
  /* object-fit: cover !important;
  justify-content: center !important;
  align-items: center !important; */
}

#svg_close{
}

.login-getstarted
{
  text-align: center;
}

.fs-1{
  margin: 0px 200px;
}

.navbar{
  /* margin: 0px 200px; */

}
.foo-1{
}

.filter-title{
  margin: 2rem 1rem 0rem 1rem !important;
  padding-top: 10px;
  color: white;
  
}
.filter-div{
  background: rgb(43, 49, 72);
  padding-bottom: 0.1rem;
  border-radius: 35px 5px;

}
.event_bg_blurimage{
  /* -webkit-filter: blur(8px) brightness(75%) !important;
  filter: blur(8px) brightness(75%) !important; */
  /* object-fit: contain !important; */
  background-image:url(https://assets-in.bmscdn.com/nmcms/events/banner/desktop/media-desktop-late-night-comedy-show-just-blr-comedy-club-0-2022-3-7-t-14-12-7.jpg);
  /* filter: blur(1px); */
}
.eventBook{
  display: inline;
}

.active-text {
  color: white;
}

.cardDiv-grid svg {
  transition: transform 0.3s ease; 
}

.cardDiv-grid svg:hover {
  transform: scale(1.1); 
}

.cardDiv-grid svg.active {
  transform: scale(1.1); /* Increase the scale on hover or when active */
}